.container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(33, 30, 37);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 795px;
  height: 689px;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bar{
  width: 168px;
  height: 17px;

  background: #E5D8EA;
  border-radius: 999px;
  margin-top: 24px;
}

.driverInformation{
  display: flex;
  flex-direction: column;
  margin-top: 99px;
}
.widgetH1{
  font-size: 40px;
  color: #372D3B;
}
.widgetSpan{
  color: #864293;
}
.widgetP{
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  color: #372D3B;
}
.section{
  display: flex;
  gap: 105px;
  margin-top: 99px;
  align-items: center;
}
.perfil{
  position: absolute;
}
.name{
  margin-left: 34px;
  color: #372D3B;
}
.car{
  margin-top: 30px;
  margin-left: 92px;
}
.assessment{
  width: 100px;
  height: 31.37px;
  background: #372D3B;
  border-radius: 15.6862px;
  position: absolute;
  margin-top: 110px;
  margin-left: 19px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.stars{
  font-weight: 600;
  font-size: 19.6px;
  color: #FBF8FC;
  letter-spacing: 0.02rem;
}
.carPlate{
  font-size: 40px;
  font-weight: 700;
  color: #372D3B;
}
.carModel{
  font-size: 24.5px;
  font-weight: 500;
  color: #372D3B;
}

.footer{
  display: flex;
  margin-top: 99px;
  gap: 32px;
}

.footer input{
  width: 516.92px;
  padding: 17px 29px 18px 29px;
  border-radius: 24px;
  background: #F5EDF7;
  border: none;
  outline: none;

  font-size: 24px;
  font-weight: 500;
  color: #372D3B; 
}
.footer input::placeholder{
  font-size: 24px;
  font-weight: 500;
  color: #372D3B; 
}
.footer button{
  background: none;
  border: none;
  cursor: pointer;
}